In [3]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import accuracy_score

In [4]:
x=pd.read_csv("loan-train.csv")
y=pd.read_csv("loan-test.csv")
converted=['Gender','Married','Education','Self_Employed','Dependents','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area','Loan_Status']
trainData=['Gender','Married','Education','Self_Employed','Dependents','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area']
converted1=['Gender','Married','Education','Self_Employed','Dependents','ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term','Credit_History','Property_Area']

In [5]:
def convertDataset(dataset,label):
    convert  = preprocessing.LabelEncoder()
    for item in label:
        dataset[item]=convert.fit_transform(dataset[item])


convertDataset(x,converted)
convertDataset(y,converted1)

In [6]:
x

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,376,0,203,8,1,2,1
1,LP001003,1,1,1,0,0,306,60,81,8,1,0,0
2,LP001005,1,1,0,0,1,139,0,26,8,1,2,1
3,LP001006,1,1,0,1,0,90,160,73,8,1,2,1
4,LP001008,1,0,0,0,0,381,0,94,8,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,0,0,0,0,125,0,29,8,1,0,1
610,LP002979,1,1,3,0,0,275,0,7,5,1,0,1
611,LP002983,1,1,1,0,0,431,3,162,8,1,2,1
612,LP002984,1,1,2,0,0,422,0,132,8,1,2,1
613,LP002990,0,0,0,0,1,306,0,86,8,0,1,0

In [7]:
features=x[trainData]
label=x['Loan_Status']

In [8]:
label.mean()

0.6872964169381107

In [9]:
try:
    model=DecisionTreeClassifier()
    model.fit(features,label)
    print("The Model Start Training....")
except Exception as ex:
    print("The Model Not Trained....")
    print(ex)

The Model Start Training....

In [10]:
tryingToPredict=x['Loan_Status']

In [11]:
defaultOut=np.array(x['Loan_Status'])

In [12]:
pred=model.predict(x[trainData])

In [13]:
accuracy_score(pred, defaultOut)

1.0

In [14]:
defaultOut.mean()

0.6872964169381107

In [15]:
pred.mean()

0.6872964169381107